fastapi[standard]
SQLAlchemy
psycopg2-binary
passlib[argon2]
python-jose[cryptography]
pydantic[email]
python-multipart
argon2-cffi
slowapi
groq
twilio
chromadb
rank-bm25
cohere
rapidfuzz
google-generativeai