fastapi[standard]
SQLAlchemy
psycopg2-binary
passlib[argon2]
python-jose[cryptography]
pydantic[email]
python-multipart
argon2-cffi
slowapi
groq
openai
twilio
chromadb
rank-bm25
rapidfuzz
sentence-transformers
google-generativeai
edge-tts
websockets
elevenlabs
